<!DOCTYPE html>
<html>
<head>
  <title>SSTaskTracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="app/styles/6b188aef.main.css">

        <script src="app/scripts/vendor/81b1549c.modernizr.js"></script>
  
        <script src="app/scripts/857f2174.vendor.js"></script>
    

        <script src="app/scripts/d3cdd4c7.main.js"></script>
        
</head>
<body>

<%= yield %>

</body>
</html>