<div class="app-wrapper">
    <div class="b-header">
            <b class="user">Vasya Pupkin</b>
            <span class="btn btn-info glyphicon glyphicon-wrench">
            </span>
            <span class="btn btn-danger glyphicon glyphicon-user"> LogOut</span>
    </div>

    <div class="b-sidebar">
        <div class="title">Info</div>
        <div class="info">
            <ul class="list-unstyled">
                <li>Name:</li>
                <li>Description</li>
                <li>DateStart:</li>
                <li>DateFinal:</li>
            </ul>
            
        </div>
    </div>

    <div class="b-main">
        <div class="title">My Projects
            <div class="actions">
                    <span class="btn btn-default glyphicon glyphicon-plus">
                    </span>
                </div>
        </div>
        <div class="content">
           
        </div>
    </div>
</div>
