<!DOCTYPE html>
<html>
<head>
  <title>SSTaskTracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<<<<<<< HEAD
        <link rel="stylesheet" href="app/styles/7234d6ea.main.css">

        <script src="app/scripts/vendor/81b1549c.modernizr.js"></script>
  
         <script src="app/scripts/7926a628.vendor.js"></script>
    

        <script src="app/scripts/fec944f1.main.js"></script>
        
=======

        <link rel="stylesheet" href="app/styles/6b188aef.main.css">

        <script src="app/scripts/vendor/81b1549c.modernizr.js"></script>
  
        <script src="app/scripts/857f2174.vendor.js"></script>
    

        <script src="app/scripts/d3cdd4c7.main.js"></script>
>>>>>>> 5a0dae57d9083dc78f44bedd9b512966051751e5

</head>
<body>

<%= yield %>

</body>
</html>