<!DOCTYPE html>
<html>
<head>
  <title>SSTaskTracking</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="app/styles/70f3aee9.main.css">

        <script src="app/scripts/vendor/81b1549c.modernizr.js"></script>
  
         <script src="app/scripts/6d1dae4a.vendor.js"></script>
    

        <script src="app/scripts/ac7c39d5.main.js"></script>
        
</head>
<body>

<%= yield %>

</body>
</html>